body {
    background-color: #fdfdfd;
}

.bold {
    font-weight: 600;
}

tr, td {
    cursor: pointer;
}

button {
    background-color: rgb(80, 0, 162)
}

#Table {
    height: 80vh;
    overflow: scroll;
}